## Transform

Transform data (extracted as 51 individual CSV files) into one large dataframe. Clean up and create unique rows and columns

In [1]:
import pandas as pd

In [2]:
# Read CSV
alabama = pd.read_csv("../Data/States/Alabama.csv")

In [3]:
# Set Age (AGEP) as index
alabama = alabama.set_index("Age (AGEP)")
alabama.head()

,Total,Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,District of Columbia/DC,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Age (AGEP),,,,,,,,,,,,,,,,,,,,,
-> Total,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
-> Total ->,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
Total 12th grade - no diploma,7237,5807,0,4,0,63,9,99,0,0,...,0,0,0,0,0,0,0,0,0,0
25 years Total 12th grade - no diploma,260,191,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26 years Total 12th grade - no diploma,336,287,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Transpose to switch rows with columns
alabama_df = alabama.T

In [5]:
# Add "To_State" so that each origin state on far left shows which state they moved to on far right
# Makes data multi-dimensional

alabama_df["To_State"] = "Alabama"

In [6]:
# Code for one state
alabama = pd.read_csv("../Data/States/Alabama.csv").set_index("Age (AGEP)").T
alabama["To_State"] = "Alabama"
alabama.head()

Age (AGEP),-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,319852,319852,7237,260,336,227,132,275,265,339,...,32,2,2,31,0,4,8,10,60,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arkansas/AR,859,859,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [7]:
list(alabama.columns)

[' -> Total',
 ' -> Total ->',
 'Total 12th grade - no diploma',
 '25 years Total 12th grade - no diploma',
 '26 years Total 12th grade - no diploma',
 '27 years Total 12th grade - no diploma',
 '28 years Total 12th grade - no diploma',
 '29 years Total 12th grade - no diploma',
 '30 years Total 12th grade - no diploma',
 '31 years Total 12th grade - no diploma',
 '32 years Total 12th grade - no diploma',
 '33 years Total 12th grade - no diploma',
 '34 years Total 12th grade - no diploma',
 '35 years Total 12th grade - no diploma',
 '36 years Total 12th grade - no diploma',
 '37 years Total 12th grade - no diploma',
 '38 years Total 12th grade - no diploma',
 '39 years Total 12th grade - no diploma',
 '40 years Total 12th grade - no diploma',
 '41 years Total 12th grade - no diploma',
 '42 years Total 12th grade - no diploma',
 '43 years Total 12th grade - no diploma',
 '44 years Total 12th grade - no diploma',
 '45 years Total 12th grade - no diploma',
 '46 years Total 12th grade - no diploma',
 '47 years Total 12th grade - no diploma',
 '48 years Total 12th grade - no diploma',
 '49 years Total 12th grade - no diploma',
 '50 years Total 12th grade - no diploma',
 '51 years Total 12th grade - no diploma',
 '52 years Total 12th grade - no diploma',
 '53 years Total 12th grade - no diploma',
 '54 years Total 12th grade - no diploma',
 '55 years Total 12th grade - no diploma',
 '56 years Total 12th grade - no diploma',
 '57 years Total 12th grade - no diploma',
 '58 years Total 12th grade - no diploma',
 '59 years Total 12th grade - no diploma',
 '60 years Total 12th grade - no diploma',
 '61 years Total 12th grade - no diploma',
 '62 years Total 12th grade - no diploma',
 '63 years Total 12th grade - no diploma',
 '64 years Total 12th grade - no diploma',
 '65 years Total 12th grade - no diploma',
 '66 years Total 12th grade - no diploma',
 '67 years Total 12th grade - no diploma',
 '68 years Total 12th grade - no diploma',
 '69 years Total 12th grade - no diploma',
 '70 years Total 12th grade - no diploma',
 '71 years Total 12th grade - no diploma',
 '72 years Total 12th grade - no diploma',
 '73 years Total 12th grade - no diploma',
 '74 years Total 12th grade - no diploma',
 '75 years Total 12th grade - no diploma',
 'Total Regular high school diploma',
 '25 years Regular high school diploma',
 '26 years Regular high school diploma',
 '27 years Regular high school diploma',
 '28 years Regular high school diploma',
 '29 years Regular high school diploma',
 '30 years Regular high school diploma',
 '31 years Regular high school diploma',
 '32 years Regular high school diploma',
 '33 years Regular high school diploma',
 '34 years Regular high school diploma',
 '35 years Regular high school diploma',
 '36 years Regular high school diploma',
 '37 years Regular high school diploma',
 '38 years Regular high school diploma',
 '39 years Regular high school diploma',
 '40 years Regular high school diploma',
 '41 years Regular high school diploma',
 '42 years Regular high school diploma',
 '43 years Regular high school diploma',
 '44 years Regular high school diploma',
 '45 years Regular high school diploma',
 '46 years Regular high school diploma',
 '47 years Regular high school diploma',
 '48 years Regular high school diploma',
 '49 years Regular high school diploma',
 '50 years Regular high school diploma',
 '51 years Regular high school diploma',
 '52 years Regular high school diploma',
 '53 years Regular high school diploma',
 '54 years Regular high school diploma',
 '55 years Regular high school diploma',
 '56 years Regular high school diploma',
 '57 years Regular high school diploma',
 '58 years Regular high school diploma',
 '59 years Regular high school diploma',
 '60 years Regular high school diploma',
 '61 years Regular high school diploma',
 '62 years Regular high school diploma',
 '63 years Regular high school diploma',
 '64 years Regular high school diploma',
 '65 years Regular high school diploma',
 '66 years Regular high school diploma',
 '67 years Regular high school diploma',
 '68 years Regular high school diploma',
 '69 years Regular high school diploma',
 '70 years Regular high school diploma',
 '71 years Regular high school diploma',
 '72 years Regular high school diploma',
 '73 years Regular high school diploma',
 '74 years Regular high school diploma',
 '75 years Regular high school diploma',
 'Total GED or alternative credential',
 '25 years Total GED or alternative credential',
 '26 years Total GED or alternative credential',
 '27 years Total GED or alternative credential',
 '28 years Total GED or alternative credential',
 '29 years Total GED or alternative credential',
 '30 years Total GED or alternative credential',
 '31 years Total GED or alternative credential',
 '32 years Total GED or alternative credential',
 '33 years Total GED or alternative credential',
 '34 years Total GED or alternative credential',
 '35 years Total GED or alternative credential',
 '36 years Total GED or alternative credential',
 '37 years Total GED or alternative credential',
 '38 years Total GED or alternative credential',
 '39 years Total GED or alternative credential',
 '40 years Total GED or alternative credential',
 '41 years Total GED or alternative credential',
 '42 years Total GED or alternative credential',
 '43 years Total GED or alternative credential',
 '44 years Total GED or alternative credential',
 '45 years Total GED or alternative credential',
 '46 years Total GED or alternative credential',
 '47 years Total GED or alternative credential',
 '48 years Total GED or alternative credential',
 '49 years Total GED or alternative credential',
 '50 years Total GED or alternative credential',
 '51 years Total GED or alternative credential',
 '52 years Total GED or alternative credential',
 '53 years Total GED or alternative credential',
 '54 years Total GED or alternative credential',
 '55 years Total GED or alternative credential',
 '56 years Total GED or alternative credential',
 '57 years Total GED or alternative credential',
 '58 years Total GED or alternative credential',
 '59 years Total GED or alternative credential',
 '60 years Total GED or alternative credential',
 '61 years Total GED or alternative credential',
 '62 years Total GED or alternative credential',
 '63 years Total GED or alternative credential',
 '64 years Total GED or alternative credential',
 '65 years Total GED or alternative credential',
 '66 years Total GED or alternative credential',
 '67 years Total GED or alternative credential',
 '68 years Total GED or alternative credential',
 '69 years Total GED or alternative credential',
 '70 years Total GED or alternative credential',
 '71 years Total GED or alternative credential',
 '72 years Total GED or alternative credential',
 '73 years Total GED or alternative credential',
 '74 years Total GED or alternative credential',
 '75 years Total GED or alternative credential',
 'Total Some college, but less than 1 year',
 '25 years Total Some college, but less than 1 year',
 '26 years Total Some college, but less than 1 year',
 '27 years Total Some college, but less than 1 year',
 '28 years Total Some college, but less than 1 year',
 '29 years Total Some college, but less than 1 year',
 '30 years Total Some college, but less than 1 year',
 '31 years Total Some college, but less than 1 year',
 '32 years Total Some college, but less than 1 year',
 '33 years Total Some college, but less than 1 year',
 '34 years Total Some college, but less than 1 year',
 '35 years Total Some college, but less than 1 year',
 '36 years Total Some college, but less than 1 year',
 '37 years Total Some college, but less than 1 year',
 '38 years Total Some college, but less than 1 year',
 '39 years Total Some college, but less than 1 year',
 '40 years Total Some college, but less than 1 year',
 '41 years Total Some college, but less than 1 year',
 '42 years Total Some college, but less than 1 year',
 '43 years Total Some college, but less than 1 year',
 '44 years Total Some college, but less than 1 year',
 '45 years Total Some college, but less than 1 year',
 '46 years Total Some college, but less than 1 year',
 '47 years Total Some college, but less than 1 year',
 '48 years Total Some college, but less than 1 year',
 '49 years Total Some college, but less than 1 year',
 '50 years Total Some college, but less than 1 year',
 '51 years Total Some college, but less than 1 year',
 '52 years Total Some college, but less than 1 year',
 '53 years Total Some college, but less than 1 year',
 '54 years Total Some college, but less than 1 year',
 '55 years Total Some college, but less than 1 year',
 '56 years Total Some college, but less than 1 year',
 '57 years Total Some college, but less than 1 year',
 '58 years Total Some college, but less than 1 year',
 '59 years Total Some college, but less than 1 year',
 '60 years Total Some college, but less than 1 year',
 '61 years Total Some college, but less than 1 year',
 '62 years Total Some college, but less than 1 year',
 '63 years Total Some college, but less than 1 year',
 '64 years Total Some college, but less than 1 year',
 '65 years Total Some college, but less than 1 year',
 '66 years Total Some college, but less than 1 year',
 '67 years Total Some college, but less than 1 year',
 '68 years Total Some college, but less than 1 year',
 '69 years Total Some college, but less than 1 year',
 '70 years Total Some college, but less than 1 year',
 '71 years Total Some college, but less than 1 year',
 '72 years Total Some college, but less than 1 year',
 '73 years Total Some college, but less than 1 year',
 '74 years Total Some college, but less than 1 year',
 '75 years Total Some college, but less than 1 year',
 'Total 1 or more years of college credit, no degree',
 '25 years Total 1 or more years of college credit, no degree',
 '26 years Total 1 or more years of college credit, no degree',
 '27 years Total 1 or more years of college credit, no degree',
 '28 years Total 1 or more years of college credit, no degree',
 '29 years Total 1 or more years of college credit, no degree',
 '30 years Total 1 or more years of college credit, no degree',
 '31 years Total 1 or more years of college credit, no degree',
 '32 years Total 1 or more years of college credit, no degree',
 '33 years Total 1 or more years of college credit, no degree',
 '34 years Total 1 or more years of college credit, no degree',
 '35 years Total 1 or more years of college credit, no degree',
 '36 years Total 1 or more years of college credit, no degree',
 '37 years Total 1 or more years of college credit, no degree',
 '38 years Total 1 or more years of college credit, no degree',
 '39 years Total 1 or more years of college credit, no degree',
 '40 years Total 1 or more years of college credit, no degree',
 '41 years Total 1 or more years of college credit, no degree',
 '42 years Total 1 or more years of college credit, no degree',
 '43 years Total 1 or more years of college credit, no degree',
 '44 years Total 1 or more years of college credit, no degree',
 '45 years Total 1 or more years of college credit, no degree',
 '46 years Total 1 or more years of college credit, no degree',
 '47 years Total 1 or more years of college credit, no degree',
 '48 years Total 1 or more years of college credit, no degree',
 '49 years Total 1 or more years of college credit, no degree',
 '50 years Total 1 or more years of college credit, no degree',
 '51 years Total 1 or more years of college credit, no degree',
 '52 years Total 1 or more years of college credit, no degree',
 '53 years Total 1 or more years of college credit, no degree',
 '54 years Total 1 or more years of college credit, no degree',
 '55 years Total 1 or more years of college credit, no degree',
 '56 years Total 1 or more years of college credit, no degree',
 '57 years Total 1 or more years of college credit, no degree',
 '58 years Total 1 or more years of college credit, no degree',
 '59 years Total 1 or more years of college credit, no degree',
 '60 years Total 1 or more years of college credit, no degree',
 '61 years Total 1 or more years of college credit, no degree',
 '62 years Total 1 or more years of college credit, no degree',
 '63 years Total 1 or more years of college credit, no degree',
 '64 years Total 1 or more years of college credit, no degree',
 '65 years Total 1 or more years of college credit, no degree',
 '66 years Total 1 or more years of college credit, no degree',
 '67 years Total 1 or more years of college credit, no degree',
 '68 years Total 1 or more years of college credit, no degree',
 '69 years Total 1 or more years of college credit, no degree',
 '70 years Total 1 or more years of college credit, no degree',
 '71 years Total 1 or more years of college credit, no degree',
 '72 years Total 1 or more years of college credit, no degree',
 '73 years Total 1 or more years of college credit, no degree',
 '74 years Total 1 or more years of college credit, no degree',
 '75 years Total 1 or more years of college credit, no degree',
 "Total Associate's degree",
 "25 years Total Associate's degree",
 "26 years Total Associate's degree",
 "27 years Total Associate's degree",
 "28 years Total Associate's degree",
 "29 years Total Associate's degree",
 "30 years Total Associate's degree",
 "31 years Total Associate's degree",
 "32 years Total Associate's degree",
 "33 years Total Associate's degree",
 "34 years Total Associate's degree",
 "35 years Total Associate's degree",
 "36 years Total Associate's degree",
 "37 years Total Associate's degree",
 "38 years Total Associate's degree",
 "39 years Total Associate's degree",
 "40 years Total Associate's degree",
 "41 years Total Associate's degree",
 "42 years Total Associate's degree",
 "43 years Total Associate's degree",
 "44 years Total Associate's degree",
 "45 years Total Associate's degree",
 "46 years Total Associate's degree",
 "47 years Total Associate's degree",
 "48 years Total Associate's degree",
 "49 years Total Associate's degree",
 "50 years Total Associate's degree",
 "51 years Total Associate's degree",
 "52 years Total Associate's degree",
 "53 years Total Associate's degree",
 "54 years Total Associate's degree",
 "55 years Total Associate's degree",
 "56 years Total Associate's degree",
 "57 years Total Associate's degree",
 "58 years Total Associate's degree",
 "59 years Total Associate's degree",
 "60 years Total Associate's degree",
 "61 years Total Associate's degree",
 "62 years Total Associate's degree",
 "63 years Total Associate's degree",
 "64 years Total Associate's degree",
 "65 years Total Associate's degree",
 "66 years Total Associate's degree",
 "67 years Total Associate's degree",
 "68 years Total Associate's degree",
 "69 years Total Associate's degree",
 "70 years Total Associate's degree",
 "71 years Total Associate's degree",
 "72 years Total Associate's degree",
 "73 years Total Associate's degree",
 "74 years Total Associate's degree",
 "75 years Total Associate's degree",
 "Total Bachelor's degree",
 "25 years Total Bachelor's degree",
 "26 years Total Bachelor's degree",
 "27 years Total Bachelor's degree",
 "28 years Total Bachelor's degree",
 "29 years Total Bachelor's degree",
 "30 years Total Bachelor's degree",
 "31 years Total Bachelor's degree",
 "32 years Total Bachelor's degree",
 "33 years Total Bachelor's degree",
 "34 years Total Bachelor's degree",
 "35 years Total Bachelor's degree",
 "36 years Total Bachelor's degree",
 "37 years Total Bachelor's degree",
 "38 years Total Bachelor's degree",
 "39 years Total Bachelor's degree",
 "40 years Total Bachelor's degree",
 "41 years Total Bachelor's degree",
 "42 years Total Bachelor's degree",
 "43 years Total Bachelor's degree",
 "44 years Total Bachelor's degree",
 "45 years Total Bachelor's degree",
 "46 years Total Bachelor's degree",
 "47 years Total Bachelor's degree",
 "48 years Total Bachelor's degree",
 "49 years Total Bachelor's degree",
 "50 years Total Bachelor's degree",
 "51 years Total Bachelor's degree",
 "52 years Total Bachelor's degree",
 "53 years Total Bachelor's degree",
 "54 years Total Bachelor's degree",
 "55 years Total Bachelor's degree",
 "56 years Total Bachelor's degree",
 "57 years Total Bachelor's degree",
 "58 years Total Bachelor's degree",
 "59 years Total Bachelor's degree",
 "60 years Total Bachelor's degree",
 "61 years Total Bachelor's degree",
 "62 years Total Bachelor's degree",
 "63 years Total Bachelor's degree",
 "64 years Total Bachelor's degree",
 "65 years Total Bachelor's degree",
 "66 years Total Bachelor's degree",
 "67 years Total Bachelor's degree",
 "68 years Total Bachelor's degree",
 "69 years Total Bachelor's degree",
 "70 years Total Bachelor's degree",
 "71 years Total Bachelor's degree",
 "72 years Total Bachelor's degree",
 "73 years Total Bachelor's degree",
 "74 years Total Bachelor's degree",
 "75 years Total Bachelor's degree",
 "Total Master's degree",
 "25 years Total Master's degree",
 "26 years Total Master's degree",
 "27 years Total Master's degree",
 "28 years Total Master's degree",
 "29 years Total Master's degree",
 "30 years Total Master's degree",
 "31 years Total Master's degree",
 "32 years Total Master's degree",
 "33 years Total Master's degree",
 "34 years Total Master's degree",
 "35 years Total Master's degree",
 "36 years Total Master's degree",
 "37 years Total Master's degree",
 "38 years Total Master's degree",
 "39 years Total Master's degree",
 "40 years Total Master's degree",
 "41 years Total Master's degree",
 "42 years Total Master's degree",
 "43 years Total Master's degree",
 "44 years Total Master's degree",
 "45 years Total Master's degree",
 "46 years Total Master's degree",
 "47 years Total Master's degree",
 "48 years Total Master's degree",
 "49 years Total Master's degree",
 "50 years Total Master's degree",
 "51 years Total Master's degree",
 "52 years Total Master's degree",
 "53 years Total Master's degree",
 "54 years Total Master's degree",
 "55 years Total Master's degree",
 "56 years Total Master's degree",
 "57 years Total Master's degree",
 "58 years Total Master's degree",
 "59 years Total Master's degree",
 "60 years Total Master's degree",
 "61 years Total Master's degree",
 "62 years Total Master's degree",
 "63 years Total Master's degree",
 "64 years Total Master's degree",
 "65 years Total Master's degree",
 "66 years Total Master's degree",
 "67 years Total Master's degree",
 "68 years Total Master's degree",
 "69 years Total Master's degree",
 "70 years Total Master's degree",
 "71 years Total Master's degree",
 "72 years Total Master's degree",
 "73 years Total Master's degree",
 "74 years Total Master's degree",
 "75 years Total Master's degree",
 "Total Professional degree beyond a bachelor's degree",
 "25 years Total Professional degree beyond a bachelor's degree",
 "26 years Total Professional degree beyond a bachelor's degree",
 "27 years Total Professional degree beyond a bachelor's degree",
 "28 years Total Professional degree beyond a bachelor's degree",
 "29 years Total Professional degree beyond a bachelor's degree",
 "30 years Total Professional degree beyond a bachelor's degree",
 "31 years Total Professional degree beyond a bachelor's degree",
 "32 years Total Professional degree beyond a bachelor's degree",
 "33 years Total Professional degree beyond a bachelor's degree",
 "34 years Total Professional degree beyond a bachelor's degree",
 "35 years Total Professional degree beyond a bachelor's degree",
 "36 years Total Professional degree beyond a bachelor's degree",
 "37 years Total Professional degree beyond a bachelor's degree",
 "38 years Total Professional degree beyond a bachelor's degree",
 "39 years Total Professional degree beyond a bachelor's degree",
 "40 years Total Professional degree beyond a bachelor's degree",
 "41 years Total Professional degree beyond a bachelor's degree",
 "42 years Total Professional degree beyond a bachelor's degree",

In [8]:
# All states in Data folder
states_list = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", \
               "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", \
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", \
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", \
              "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", \
              "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", \
              "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# Dictionary to hold state name as key, dataframe as value
dict_state = {}

# For loop to iterate through all states to shape data
for state in states_list:
    df = pd.read_csv(f'../Data/States/{state}.csv').rename(columns = {"Age (AGEP)":"Origin"}).set_index("Origin").T
    df["To_State"] = f'{state}'
    dict_state[state] = df

In [9]:
# Can call any state dataframe when using state name as dictionary key
dict_state["California"]

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,2681950,2681950,66579,2445,2779,2252,2453,2790,2382,2088,...,336,392,619,460,364,547,286,433,201,California
Alabama/AL,2174,2174,41,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Alaska/AK,2083,2083,16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Arizona/AZ,17511,17511,278,1,0,0,32,28,0,0,...,0,0,0,12,0,0,0,0,0,California
Arkansas/AR,1882,1882,69,0,0,0,0,31,0,0,...,0,0,0,0,0,0,0,0,0,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",339,339,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
"Northern Africa or Other Africa, Not Specified",1068,1068,25,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,California
"Eastern Africa, Not Specified",561,561,107,0,0,66,0,41,0,0,...,0,0,0,0,0,0,0,0,0,California
Australia,3401,3401,33,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,California
"Other US Island Areas, Oceania, Not Specified, or At Sea",2455,2455,121,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California

In [10]:
df = pd.concat(dict_state.values(), ignore_index=False)

In [11]:
df.head()

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,319852,319852,7237,260,336,227,132,275,265,339,...,32,2,2,31,0,4,8,10,60,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arkansas/AR,859,859,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [12]:
df.to_csv("dfcheck.csv", index=True)

## Load

Create engine and load all_states_df into SQL database

In [12]:
# Dependencies
from login import port, pw
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base

ModuleNotFoundError: No module named 'login'

In [14]:
# Create engine
# engine = create_engine(f'postgresql://postgres:{pw}@localhost:{port}/interstate_migration_db')
engine = create_engine("postgresql://postgres:postgres@localhost:5432/interstate_migration_db")

# Connect to pgAdmin 4
conn = engine.connect()

In [15]:
base = automap_base()
base.prepare(engine, reflect=True)
base.classes.keys()

[]

In [16]:
# Load all_states_df into Postgres database
df.to_sql(name="states", con=engine, if_exists="replace", index=True)

In [17]:
# Confirm table names
engine.table_names()

['states']

In [18]:
# Query database for all listings from states
df2 = pd.read_sql_query("SELECT * FROM states", con=engine)
df2

,index,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
0,Total,319852,319852,7237,260,336,227,132,275,265,...,32,2,2,31,0,4,8,10,60,Alabama
1,Alabama/AL,253611,253611,5807,191,287,227,125,163,178,...,13,2,0,31,0,4,8,0,45,Alabama
2,Alaska/AK,429,429,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
3,Arizona/AZ,868,868,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
4,Arkansas/AR,859,859,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554,"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
5555,"Northern Africa or Other Africa, Not Specified",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
5556,"Eastern Africa, Not Specified",54,54,54,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
5557,Australia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
5558,"Other US Island Areas, Oceania, Not Specified,...",14,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming

In [19]:
# Keep
df2 = df2.rename(columns={"index":"Origin"})

In [20]:
# Keep
df2.set_index(["To_State", "Origin"], inplace=True)

In [21]:
# Keep
df2.rename(columns={df.columns[0]: "Total", df.columns[1]: "Total2"}, inplace=True)
df2 = df2.drop(columns=["Total2"])
df2

                                                              Total  \
To_State Origin
Alabama  Total                                               319852
         Alabama/AL                                          253611
         Alaska/AK                                              429
         Arizona/AZ                                             868
         Arkansas/AR                                            859
...                                                             ...
Wyoming  Western Africa, Not Specified                            0
         Northern Africa or Other Africa, Not Specified           0
         Eastern Africa, Not Specified                           54
         Australia                                                0
         Other US Island Areas, Oceania, Not Specified, ...      14

                                                             Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                        7237
         Alabama/AL                                                                   5807
         Alaska/AK                                                                       0
         Arizona/AZ                                                                      4
         Arkansas/AR                                                                     0
...                                                                                    ...
Wyoming  Western Africa, Not Specified                                                   0
         Northern Africa or Other Africa, Not Specified                                  0
         Eastern Africa, Not Specified                                                  54
         Australia                                                                       0
         Other US Island Areas, Oceania, Not Specified, ...                              0

                                                             25 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  260
         Alabama/AL                                                                             191
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             26 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  336
         Alabama/AL                                                                             287
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             27 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  227
         Alabama/AL                                                                             227
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             28 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  132
         Alabama/AL                                                                             125
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             29 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  275
         Alabama/AL                                                                             163
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             30 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  265
         Alabama/AL                                                                             178
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             31 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  339
         Alabama/AL                                                                             231
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             32 years Total 12th grade - no diploma  \
To_State Origin
Alabama  Total                                                                                  263
         Alabama/AL                                                                             218
         Alaska/AK                                                                                0
         Arizona/AZ                                                                               0
         Arkansas/AR                                                                              0
...                                                                                             ...
Wyoming  Western Africa, Not Specified                                                            0
         Northern Africa or Other Africa, Not Specified                                           0
         Eastern Africa, Not Specified                                                            0
         Australia                                                                                0
         Other US Island Areas, Oceania, Not Specified, ...                                       0

                                                             ...  \
To_State Origin                                              ...
Alabama  Total                                               ...
         Alabama/AL                                          ...
         Alaska/AK                                           ...
         Arizona/AZ                                          ...
         Arkansas/AR                                         ...
...                                                          ...
Wyoming  Western Africa, Not Specified                       ...
         Northern Africa or Other Africa, Not Specified      ...
         Eastern Africa, Not Specified                       ...
         Australia                                           ...
         Other US Island Areas, Oceania, Not Specified, ...  ...

                                                             66 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                            44
         Alabama/AL                                                                       31
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             67 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                            32
         Alabama/AL                                                                       13
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             68 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                             2
         Alabama/AL                                                                        2
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             69 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                             2
         Alabama/AL                                                                        0
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             70 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                            31
         Alabama/AL                                                                       31
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             71 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                             0
         Alabama/AL                                                                        0
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0
...                                                                                      ...
Wyoming  Western Africa, Not Specified                                                     0
         Northern Africa or Other Africa, Not Specified                                    0
         Eastern Africa, Not Specified                                                     0
         Australia                                                                         0
         Other US Island Areas, Oceania, Not Specified, ...                                0

                                                             72 years Total Doctorate degree  \
To_State Origin
Alabama  Total                                                                             4
         Alabama/AL                                                                        4
         Alaska/AK                                                                         0
         Arizona/AZ                                                                        0
         Arkansas/AR                                                                       0

In [22]:
df2.to_csv("dftest2.csv")

In [23]:
# New df2, but sum of values does not equal original df
df2.loc["Florida", "Total"].iloc[3:].sum()

3575313

In [24]:
# Keep
# df2.sum(axis=1)

# Return sum of the values for destination state
# df2.sum(level="To_State")

# Return sum of the values for origin state
top_from_statedf = df2.sum(level="Origin").sort_values(by=["Total"], ascending=False).head(7)
top_from_statedf

,Total,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,32 years Total 12th grade - no diploma,...,66 years Total Doctorate degree,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree
Origin,,,,,,,,,,,,,,,,,,,,,
Total,23510597,439080,18205,16527,15412,14272,15195,15442,12454,12767,...,4048,3458,3666,3846,3445,2989,3147,2583,2952,2742
California/CA,2596049,64217,2577,2768,2111,2360,2597,2419,1966,2141,...,487,379,452,642,467,281,480,296,358,249
Texas/TX,1990045,34677,1158,1442,1130,910,1552,1554,1332,894,...,163,241,348,134,263,181,248,283,195,180
Florida/FL,1565488,35567,1590,1044,1035,932,1081,1297,965,1003,...,251,393,286,302,163,140,146,132,195,133
New York/NY,1133045,22528,1232,686,788,496,743,617,516,614,...,173,204,190,154,165,273,118,105,156,121
Illinois/IL,871122,14490,382,441,379,328,543,289,355,443,...,326,55,186,62,110,148,166,121,105,45
Ohio/OH,806189,14035,508,394,442,314,536,511,294,331,...,190,45,98,159,36,10,155,57,26,89

In [25]:
top_to_statedf = df2.sum(level="To_State").sort_values(by=["Total"], ascending=False)
top_to_statedf

,Total,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,32 years Total 12th grade - no diploma,...,66 years Total Doctorate degree,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree
To_State,,,,,,,,,,,,,,,,,,,,,
California,5363900,133158,4890,5558,4504,4906,5580,4764,4176,4630,...,904,672,784,1238,920,728,1094,572,866,402
Texas,4306160,74866,2536,3242,2416,2248,3170,3696,2548,1954,...,410,534,670,502,424,254,378,302,520,346
Florida,3616682,79564,3174,2088,2196,1996,1990,2790,1814,1864,...,640,818,848,1020,570,474,606,566,708,458
New York,2175298,44578,1906,1656,1758,932,1518,1272,924,1222,...,432,624,358,450,184,412,290,98,296,158
Illinois,1683440,29414,684,946,798,602,1182,452,682,878,...,332,140,304,142,240,312,206,156,266,108
Ohio,1639458,28730,944,882,912,722,1106,894,556,784,...,178,52,234,98,82,20,102,76,64,286
Pennsylvania,1607672,27800,1522,808,756,1008,860,554,832,476,...,164,236,154,228,360,102,270,126,208,460
Georgia,1577760,29934,1106,1424,928,1050,900,966,992,1274,...,404,216,404,210,200,230,186,76,16,20
North Carolina,1543152,23504,670,1058,1174,1832,198,498,488,980,...,190,184,110,276,234,132,154,266,320,102
Washington,1421976,23744,1248,992,1778,1272,466,1098,572,726,...,118,148,232,346,196,170,350,92,0,62
Michigan,1371268,24490,976,996,1012,1046,688,462,842,434,...,224,112,140,214,66,178,120,30,100,40
Virginia,1342954,18834,658,454,674,246,576,1288,338,550,...,340,402,310,474,262,98,232,164,204,44
Arizona,1260600,29734,1302,1212,1384,2176,1026,1072,804,580,...,412,312,438,296,206,500,232,184,176,542
Colorado,1106468,13682,1026,560,492,436,652,492,548,522,...,376,430,100,232,132,82,138,24,238,124
New Jersey,1034998,17184,660,454,462,430,428,214,382,388,...,128,110,300,224,230,128,88,182,204,68
Tennessee,983516,15204,282,160,410,564,496,392,712,570,...,264,48,124,84,60,266,100,136,32,42
Massachusetts,945912,14486,764,784,466,100,350,812,510,362,...,124,152,280,142,206,208,86,62,150,58
Indiana,888744,17454,524,884,640,594,476,794,474,314,...,172,70,90,94,22,122,18,164,26,38
Missouri,888268,14788,540,706,584,748,458,330,296,366,...,256,38,158,36,126,0,78,28,74,64
Maryland,878734,15844,708,320,402,422,404,480,296,64,...,50,164,256,72,322,244,146,318,226,164
Minnesota,787088,10410,532,648,220,134,246,326,216,526,...,132,6,100,98,102,164,0,106,174,246
Wisconsin,772318,11338,528,506,244,174,478,514,514,500,...,62,68,16,0,96,134,148,122,88,0
Oregon,766282,11274,616,252,958,272,504,148,230,414,...,282,112,48,70,190,158,400,136,42,60
South Carolina,712080,15116,732,540,688,592,878,614,754,530,...,92,242,80,84,588,18,100,70,80,0
Alabama,639704,14474,520,672,454,264,550,530,678,526,...,88,64,4,4,62,0,8,16,20,120
Kentucky,632196,11242,598,548,278,164,278,498,202,218,...,0,36,56,0,30,18,0,56,54,52
Oklahoma,613668,11660,282,382,68,348,420,466,436,502,...,30,82,34,96,0,48,0,72,0,0
Nevada,582004,18088,1172,430,682,304,402,1210,232,378,...,0,62,88,0,96,0,38,88,0,116
Louisiana,567006,11164,352,540,600,188,274,364,210,382,...,128,54,52,130,90,0,54,116,92,52
Utah,471296,8232,944,540,302,256,514,362,354,496,...,194,26,20,64,46,108,0,86,0,68
Connecticut,455510,8254,98,54,150,196,324,360,52,210,...,140,94,22,0,0,110,36,40,12,44
Kansas,429578,6072,236,170,82,282,94,142,240,176,...,0,62,0,188,38,40,0,0,0,42
Arkansas,429342,8766,240,350,292,98,308,172,108,286,...,54,26,0,166,0,34,24,18,28,0
Iowa,398634,4752,250,246,124,194,286,142,138,116,...,134,0,0,0,0,58,0,0,156,0
Mississippi,348266,7210,442,120,250,164,310,112,126,114,...,62,18,0,0,0,22,86,58,0,0
Nebraska,277112,4626,392,44,238,114,198,226,0,92,...,42,0,0,0,0,0,0,0,0,0
Idaho,277082,5088,508,162,554,36,420,28,322,78,...,24,0,6,38,28,0,6,224,0,28
New Mexico,276102,5960,728,424,256,264,618,38,408,72,...,140,106,114,92,72,98,264,16,0,38
Hawaii,224466,2948,248,76,0,66,70,150,148,162,...,62,52,32,16,0,34,78,68,12,118
New Hampshire,202616,2902,38,172,148,326,208,102,134,50,...,42,114,44,0,184,0,0,0,118,0
West Virginia,197046,3356,154,0,154,14,140,680,32,134,...,20,0,42,0,0,0,0,74,0,0
Maine,195572,1910,164,0,18,0,68,38,52,120,...,0,102,22,78,40,0,62,16,26,40
Montana,162372,2946,10,0,6,236,0,70,212,0,...,18,0,0,70,56,0,0,0,0,46
District of Columbia,155650,800,0,0,0,0,0,140,42,0,...,88,46,172,34,86,66,0,38,88,0
Rhode Island,136036,2370,0,190,88,18,0,0,42,170,...,26,22,38,0,0,0,0,0,0,0
Alaska,130532,1282,178,112,42,64,100,0,8,48,...,0,0,10,0,0,0,50,0,10,0
Delaware,126420,2594,98,260,0,138,46,0,0,64,...,48,30,8,26,0,0,28,0,0,0
South Dakota,122756,1866,100,334,22,18,40,46,70,104,...,62,0,0,0,0,0,0,0,0,86
North Dakota,118956,2072,130,32,112,0,0,0,0,72,...,0,0,0,0,0,140,0,106,0,0
Wyoming,97806,1572,0,66,48,268,0,66,162,0,...,8,30,30,54,28,68,38,18,144,710
Vermont,78738,824,0,0,0,22,92,20,0,56,...,0,0,0,6,16,0,0,0,66,32

In [26]:
# # Keep
# del_t = []
# for x in df.columns:
#     if x #contains the word total

In [27]:
# Keep
#Isolate From state (index) and to state, and

In [28]:
# Keep
#df[index, to_state, -> Total]

In [29]:
# Keep
#group index by index and to_state and get sum of the total
#groupby dataframe, if doesn't match statelist, do not include it

In [30]:
# Keep
# Sum total values of Alabama as origin state
# df.loc["Alabama/AL", " -> Total"].iloc[3:].sum()

# New df2, but sum of values does not equal original df
df2.loc["Alabama", "Total"].iloc[3:].sum()

632207

In [31]:
# Keep

In [32]:
# Keep df.loc["Alabama/AL"]

# New df2
df2.loc["Alabama"]

,Total,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,32 years Total 12th grade - no diploma,...,66 years Total Doctorate degree,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree
Origin,,,,,,,,,,,,,,,,,,,,,
Total,319852,7237,260,336,227,132,275,265,339,263,...,44,32,2,2,31,0,4,8,10,60
Alabama/AL,253611,5807,191,287,227,125,163,178,231,218,...,31,13,2,0,31,0,4,8,0,45
Alaska/AK,429,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arizona/AZ,868,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arkansas/AR,859,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Northern Africa or Other Africa, Not Specified",69,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Eastern Africa, Not Specified",103,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Australia,109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Other US Island Areas, Oceania, Not Specified, or At Sea",128,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Keep
# list(all_states_df.columns)
# drop_these = [" -> Total", " -> Total ->"]

In [ ]:
# Keep
# all_states_df["Origin"]

In [ ]:
# Keep
## need state to be a column, need origin to be a column
# reset index so they can be columns