In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("alabama.csv")

In [3]:
list(df.columns)

['Mobility status (lived here 1 year ago) (MIG)',
 'Total',
 'N/A (person less than 1 year old/lived in same house 1 year ago)',
 'Alabama/AL',
 'Alaska/AK',
 'Arizona/AZ',
 'Arkansas/AR',
 'California/CA',
 'Colorado/CO',
 'Connecticut/CT',
 'Delaware/DE',
 'District of Columbia/DC',
 'Florida/FL',
 'Georgia/GA',
 'Hawaii/HI',
 'Idaho/ID',
 'Illinois/IL',
 'Indiana/IN',
 'Iowa/IA',
 'Kansas/KS',
 'Kentucky/KY',
 'Louisiana/LA',
 'Maine/ME',
 'Maryland/MD',
 'Massachusetts/MA',
 'Michigan/MI',
 'Minnesota/MN',
 'Mississippi/MS',
 'Missouri/MO',
 'Montana/MT',
 'Nebraska/NE',
 'Nevada/NV',
 'New Hampshire/NH',
 'New Jersey/NJ',
 'New Mexico/NM',
 'New York/NY',
 'North Carolina/NC',
 'North Dakota/ND',
 'Ohio/OH',
 'Oklahoma/OK',
 'Oregon/OR',
 'Pennsylvania/PA',
 'Rhode Island/RI',
 'South Carolina/SC',
 'South Dakota/SD',
 'Tennessee/TN',
 'Texas/TX',
 'Utah/UT',
 'Vermont/VT',
 'Virginia/VA',
 'Washington/WA',
 'West Virginia/WV',
 'Wisconsin/WI',
 'Wyoming/WY',
 'Puerto Rico',
 'France',
 'Germany',
 'Northern Europe, Not Specified',
 'Eastern Europe, Not Specified',
 'Western Europe or Other Europe, Not Specified',
 'Italy',
 'Spain',
 'United Kingdom, Excluding England',
 'England',
 'Russia',
 'Ukraine (2017 or later)',
 'Afghanistan',
 'China, Hong Kong, Macau and Paracel Islands',
 'India',
 'Iraq (2016 or earlier)',
 'Israel (2017 or later)',
 'Japan',
 'Korea',
 'Nepal',
 'Pakistan',
 'Philippines',
 'Saudi Arabia',
 'Taiwan',
 'Thailand',
 'Turkey',
 'United Arab Emirates (2017 or later)',
 'Vietnam',
 'Eastern Asia, Not Specified',
 'Western Asia, Not Specified',
 'South Central Asia or Asia, Not Specified',
 'Canada',
 'Mexico',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Central America, Not Specified',
 'Cuba',
 'Dominican Republic',
 'Haiti',
 'Jamaica',
 'Caribbean and North America, Not Specified',
 'Brazil',
 'Colombia',
 'Ecuador (2017 or later)',
 'Peru (2017 or later)',
 'Venezuela (2017 or later)',
 'South America, Not Specified',
 'Egypt',
 'Ethiopia (2017 or later)',
 'Kenya (2017 or later)',
 'Nigeria',
 'Western Africa, Not Specified',
 'Northern Africa or Other Africa, Not Specified',
 'Eastern Africa, Not Specified',
 'Australia',
 'Other US Island Areas, Oceania, Not Specified, or At Sea']

In [4]:
df.columns = ['Mobility_status',
 'Total',
 'N/A (person less than 1 year old/lived in same house 1 year ago)',
 'Alabama/AL',
 'Alaska/AK',
 'Arizona/AZ',
 'Arkansas/AR',
 'California/CA',
 'Colorado/CO',
 'Connecticut/CT',
 'Delaware/DE',
 'District of Columbia/DC',
 'Florida/FL',
 'Georgia/GA',
 'Hawaii/HI',
 'Idaho/ID',
 'Illinois/IL',
 'Indiana/IN',
 'Iowa/IA',
 'Kansas/KS',
 'Kentucky/KY',
 'Louisiana/LA',
 'Maine/ME',
 'Maryland/MD',
 'Massachusetts/MA',
 'Michigan/MI',
 'Minnesota/MN',
 'Mississippi/MS',
 'Missouri/MO',
 'Montana/MT',
 'Nebraska/NE',
 'Nevada/NV',
 'New Hampshire/NH',
 'New Jersey/NJ',
 'New Mexico/NM',
 'New York/NY',
 'North Carolina/NC',
 'North Dakota/ND',
 'Ohio/OH',
 'Oklahoma/OK',
 'Oregon/OR',
 'Pennsylvania/PA',
 'Rhode Island/RI',
 'South Carolina/SC',
 'South Dakota/SD',
 'Tennessee/TN',
 'Texas/TX',
 'Utah/UT',
 'Vermont/VT',
 'Virginia/VA',
 'Washington/WA',
 'West Virginia/WV',
 'Wisconsin/WI',
 'Wyoming/WY',
 'Puerto Rico',
 'France',
 'Germany',
 'Northern Europe, Not Specified',
 'Eastern Europe, Not Specified',
 'Western Europe or Other Europe, Not Specified',
 'Italy',
 'Spain',
 'United Kingdom, Excluding England',
 'England',
 'Russia',
 'Ukraine (2017 or later)',
 'Afghanistan',
 'China, Hong Kong, Macau and Paracel Islands',
 'India',
 'Iraq (2016 or earlier)',
 'Israel (2017 or later)',
 'Japan',
 'Korea',
 'Nepal',
 'Pakistan',
 'Philippines',
 'Saudi Arabia',
 'Taiwan',
 'Thailand',
 'Turkey',
 'United Arab Emirates (2017 or later)',
 'Vietnam',
 'Eastern Asia, Not Specified',
 'Western Asia, Not Specified',
 'South Central Asia or Asia, Not Specified',
 'Canada',
 'Mexico',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Central America, Not Specified',
 'Cuba',
 'Dominican Republic',
 'Haiti',
 'Jamaica',
 'Caribbean and North America, Not Specified',
 'Brazil',
 'Colombia',
 'Ecuador (2017 or later)',
 'Peru (2017 or later)',
 'Venezuela (2017 or later)',
 'South America, Not Specified',
 'Egypt',
 'Ethiopia (2017 or later)',
 'Kenya (2017 or later)',
 'Nigeria',
 'Western Africa, Not Specified',
 'Northern Africa or Other Africa, Not Specified',
 'Eastern Africa, Not Specified',
 'Australia',
 'Other US Island Areas, Oceania, Not Specified, or At Sea']

In [5]:
df = df.set_index("Mobility_status")
df

,Total,N/A (person less than 1 year old/lived in same house 1 year ago),Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Mobility_status,,,,,,,,,,,,,,,,,,,,,
-> Total,4876250,4209655,539940,669,1317,1227,3163,1777,618,168,...,514,41,0,49,173,36,150,208,151,170
-> Total -> Total Alabama,4876250,4209655,539940,669,1317,1227,3163,1777,618,168,...,514,41,0,49,173,36,150,208,151,170
-> Total -> Total Alabama -> Total N/A (less than 3 years old),170882,146839,20031,78,31,73,76,91,0,0,...,179,0,0,0,0,0,0,0,20,0
N/A(less than 1 year old),56700,56700,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Yes, same house (nonmovers)",90139,90139,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-> Total -> Total Alabama -> Total Doctorate degree,35969,31987,2335,0,0,26,14,10,0,0,...,0,0,0,0,0,0,0,0,10,0
N/A(less than 1 year old),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Yes, same house (nonmovers)",31987,31987,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"No, outside US and Puerto Rico",270,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,0
"No, different house in US or Puerto Rico",3712,0,2335,0,0,26,14,10,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df2 = df.T

In [7]:
df2["To_State"] = "Alabama"

In [8]:
df2

Mobility_status,-> Total,-> Total -> Total Alabama,-> Total -> Total Alabama -> Total N/A (less than 3 years old),N/A(less than 1 year old),"Yes, same house (nonmovers)","No, outside US and Puerto Rico","No, different house in US or Puerto Rico",-> Total -> Total Alabama -> Total No schooling completed,N/A(less than 1 year old),"Yes, same house (nonmovers)",...,N/A(less than 1 year old),"Yes, same house (nonmovers)","No, outside US and Puerto Rico","No, different house in US or Puerto Rico",-> Total -> Total Alabama -> Total Doctorate degree,N/A(less than 1 year old),"Yes, same house (nonmovers)","No, outside US and Puerto Rico","No, different house in US or Puerto Rico",To_State
Total,4876250,4876250,170882,56700,90139,368,23675,163080,0,134290,...,0,43782,133,5397,35969,0,31987,270,3712,Alabama
N/A (person less than 1 year old/lived in same house 1 year ago),4209655,4209655,146839,56700,90139,0,0,134290,0,134290,...,0,43782,0,0,31987,0,31987,0,0,Alabama
Alabama/AL,539940,539940,20031,0,0,0,20031,24017,0,0,...,0,0,0,3939,2335,0,0,0,2335,Alabama
Alaska/AK,669,669,78,0,0,0,78,30,0,0,...,0,0,0,3,0,0,0,0,0,Alabama
Arizona/AZ,1317,1317,31,0,0,0,31,105,0,0,...,0,0,0,18,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",36,36,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Northern Africa or Other Africa, Not Specified",150,150,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Eastern Africa, Not Specified",208,208,0,0,0,0,0,37,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Australia,151,151,20,0,0,20,0,9,0,0,...,0,0,0,0,10,0,0,10,0,Alabama
"Other US Island Areas, Oceania, Not Specified, or At Sea",170,170,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [9]:
list(df2.columns)

[' -> Total',
 ' -> Total -> Total Alabama',
 ' -> Total -> Total Alabama -> Total N/A (less than 3 years old)',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total No schooling completed',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Nursery school, preschool',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Kindergarten',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 1',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 2',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 3',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 4',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 5',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 6',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 7',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 8',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 9',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 10',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Grade 11',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total 12th grade - no diploma',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Regular high school diploma',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total GED or alternative credential',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Some college, but less than 1 year',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total 1 or more years of college credit, no degree',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 " -> Total -> Total Alabama -> Total Associate's degree",
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 " -> Total -> Total Alabama -> Total Bachelor's degree",
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 " -> Total -> Total Alabama -> Total Master's degree",
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 " -> Total -> Total Alabama -> Total Professional degree beyond a bachelor's degree",
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 ' -> Total -> Total Alabama -> Total Doctorate degree',
 'N/A(less than 1 year old)',
 'Yes, same house (nonmovers)',
 'No, outside US and Puerto Rico',
 'No, different house in US or Puerto Rico',
 'To_State']

In [10]:
df4 = pd.concat([df2,df2,df2])

In [11]:
len(df4)

330