## Transform

Transform data (extracted as 51 individual CSV files) into one large dataframe. Clean up and create unique rows and columns

In [1]:
import pandas as pd

In [2]:
# Read CSV
alabama = pd.read_csv("../Data/States/Alabama.csv")

In [3]:
# Set Age (AGEP) as index
alabama = alabama.set_index("Age (AGEP)")
alabama

,Total,Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,District of Columbia/DC,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Age (AGEP),,,,,,,,,,,,,,,,,,,,,
-> Total,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
-> Total ->,319852,253611,429,868,859,1674,983,393,64,167,...,162,36,0,12,105,0,69,103,109,128
Total 12th grade - no diploma,7237,5807,0,4,0,63,9,99,0,0,...,0,0,0,0,0,0,0,0,0,0
25 years Total 12th grade - no diploma,260,191,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26 years Total 12th grade - no diploma,336,287,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71 years Total Doctorate degree,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72 years Total Doctorate degree,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73 years Total Doctorate degree,8,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74 years Total Doctorate degree,10,0,0,0,0,0,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75 years Total Doctorate degree,60,45,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Transpose to switch rows with columns
alabama_df = alabama.T

In [5]:
# Add "To_State" so that each origin state on far left shows which state they moved to on far right
# Makes data multi-dimensional

alabama_df["To_State"] = "Alabama"

In [6]:
# Code for one state
alabama = pd.read_csv("../Data/States/Alabama.csv").set_index("Age (AGEP)").T
alabama["To_State"] = "Alabama"
alabama

Age (AGEP),-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,319852,319852,7237,260,336,227,132,275,265,339,...,32,2,2,31,0,4,8,10,60,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arkansas/AR,859,859,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Northern Africa or Other Africa, Not Specified",69,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Eastern Africa, Not Specified",103,103,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Australia,109,109,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Other US Island Areas, Oceania, Not Specified, or At Sea",128,128,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [7]:
list(alabama.columns)

[' -> Total',
 ' -> Total ->',
 'Total 12th grade - no diploma',
 '25 years Total 12th grade - no diploma',
 '26 years Total 12th grade - no diploma',
 '27 years Total 12th grade - no diploma',
 '28 years Total 12th grade - no diploma',
 '29 years Total 12th grade - no diploma',
 '30 years Total 12th grade - no diploma',
 '31 years Total 12th grade - no diploma',
 '32 years Total 12th grade - no diploma',
 '33 years Total 12th grade - no diploma',
 '34 years Total 12th grade - no diploma',
 '35 years Total 12th grade - no diploma',
 '36 years Total 12th grade - no diploma',
 '37 years Total 12th grade - no diploma',
 '38 years Total 12th grade - no diploma',
 '39 years Total 12th grade - no diploma',
 '40 years Total 12th grade - no diploma',
 '41 years Total 12th grade - no diploma',
 '42 years Total 12th grade - no diploma',
 '43 years Total 12th grade - no diploma',
 '44 years Total 12th grade - no diploma',
 '45 years Total 12th grade - no diploma',
 '46 years Total 12th grade - no diploma',
 '47 years Total 12th grade - no diploma',
 '48 years Total 12th grade - no diploma',
 '49 years Total 12th grade - no diploma',
 '50 years Total 12th grade - no diploma',
 '51 years Total 12th grade - no diploma',
 '52 years Total 12th grade - no diploma',
 '53 years Total 12th grade - no diploma',
 '54 years Total 12th grade - no diploma',
 '55 years Total 12th grade - no diploma',
 '56 years Total 12th grade - no diploma',
 '57 years Total 12th grade - no diploma',
 '58 years Total 12th grade - no diploma',
 '59 years Total 12th grade - no diploma',
 '60 years Total 12th grade - no diploma',
 '61 years Total 12th grade - no diploma',
 '62 years Total 12th grade - no diploma',
 '63 years Total 12th grade - no diploma',
 '64 years Total 12th grade - no diploma',
 '65 years Total 12th grade - no diploma',
 '66 years Total 12th grade - no diploma',
 '67 years Total 12th grade - no diploma',
 '68 years Total 12th grade - no diploma',
 '69 years Total 12th grade - no diploma',
 '70 years Total 12th grade - no diploma',
 '71 years Total 12th grade - no diploma',
 '72 years Total 12th grade - no diploma',
 '73 years Total 12th grade - no diploma',
 '74 years Total 12th grade - no diploma',
 '75 years Total 12th grade - no diploma',
 'Total Regular high school diploma',
 '25 years Regular high school diploma',
 '26 years Regular high school diploma',
 '27 years Regular high school diploma',
 '28 years Regular high school diploma',
 '29 years Regular high school diploma',
 '30 years Regular high school diploma',
 '31 years Regular high school diploma',
 '32 years Regular high school diploma',
 '33 years Regular high school diploma',
 '34 years Regular high school diploma',
 '35 years Regular high school diploma',
 '36 years Regular high school diploma',
 '37 years Regular high school diploma',
 '38 years Regular high school diploma',
 '39 years Regular high school diploma',
 '40 years Regular high school diploma',
 '41 years Regular high school diploma',
 '42 years Regular high school diploma',
 '43 years Regular high school diploma',
 '44 years Regular high school diploma',
 '45 years Regular high school diploma',
 '46 years Regular high school diploma',
 '47 years Regular high school diploma',
 '48 years Regular high school diploma',
 '49 years Regular high school diploma',
 '50 years Regular high school diploma',
 '51 years Regular high school diploma',
 '52 years Regular high school diploma',
 '53 years Regular high school diploma',
 '54 years Regular high school diploma',
 '55 years Regular high school diploma',
 '56 years Regular high school diploma',
 '57 years Regular high school diploma',
 '58 years Regular high school diploma',
 '59 years Regular high school diploma',
 '60 years Regular high school diploma',
 '61 years Regular high school diploma',
 '62 years Regular high school diploma',
 '63 years Regular high school diploma',
 '64 years Regular high school diploma',
 '65 years Regular high school diploma',
 '66 years Regular high school diploma',
 '67 years Regular high school diploma',
 '68 years Regular high school diploma',
 '69 years Regular high school diploma',
 '70 years Regular high school diploma',
 '71 years Regular high school diploma',
 '72 years Regular high school diploma',
 '73 years Regular high school diploma',
 '74 years Regular high school diploma',
 '75 years Regular high school diploma',
 'Total GED or alternative credential',
 '25 years Total GED or alternative credential',
 '26 years Total GED or alternative credential',
 '27 years Total GED or alternative credential',
 '28 years Total GED or alternative credential',
 '29 years Total GED or alternative credential',
 '30 years Total GED or alternative credential',
 '31 years Total GED or alternative credential',
 '32 years Total GED or alternative credential',
 '33 years Total GED or alternative credential',
 '34 years Total GED or alternative credential',
 '35 years Total GED or alternative credential',
 '36 years Total GED or alternative credential',
 '37 years Total GED or alternative credential',
 '38 years Total GED or alternative credential',
 '39 years Total GED or alternative credential',
 '40 years Total GED or alternative credential',
 '41 years Total GED or alternative credential',
 '42 years Total GED or alternative credential',
 '43 years Total GED or alternative credential',
 '44 years Total GED or alternative credential',
 '45 years Total GED or alternative credential',
 '46 years Total GED or alternative credential',
 '47 years Total GED or alternative credential',
 '48 years Total GED or alternative credential',
 '49 years Total GED or alternative credential',
 '50 years Total GED or alternative credential',
 '51 years Total GED or alternative credential',
 '52 years Total GED or alternative credential',
 '53 years Total GED or alternative credential',
 '54 years Total GED or alternative credential',
 '55 years Total GED or alternative credential',
 '56 years Total GED or alternative credential',
 '57 years Total GED or alternative credential',
 '58 years Total GED or alternative credential',
 '59 years Total GED or alternative credential',
 '60 years Total GED or alternative credential',
 '61 years Total GED or alternative credential',
 '62 years Total GED or alternative credential',
 '63 years Total GED or alternative credential',
 '64 years Total GED or alternative credential',
 '65 years Total GED or alternative credential',
 '66 years Total GED or alternative credential',
 '67 years Total GED or alternative credential',
 '68 years Total GED or alternative credential',
 '69 years Total GED or alternative credential',
 '70 years Total GED or alternative credential',
 '71 years Total GED or alternative credential',
 '72 years Total GED or alternative credential',
 '73 years Total GED or alternative credential',
 '74 years Total GED or alternative credential',
 '75 years Total GED or alternative credential',
 'Total Some college, but less than 1 year',
 '25 years Total Some college, but less than 1 year',
 '26 years Total Some college, but less than 1 year',
 '27 years Total Some college, but less than 1 year',
 '28 years Total Some college, but less than 1 year',
 '29 years Total Some college, but less than 1 year',
 '30 years Total Some college, but less than 1 year',
 '31 years Total Some college, but less than 1 year',
 '32 years Total Some college, but less than 1 year',
 '33 years Total Some college, but less than 1 year',
 '34 years Total Some college, but less than 1 year',
 '35 years Total Some college, but less than 1 year',
 '36 years Total Some college, but less than 1 year',
 '37 years Total Some college, but less than 1 year',
 '38 years Total Some college, but less than 1 year',
 '39 years Total Some college, but less than 1 year',
 '40 years Total Some college, but less than 1 year',
 '41 years Total Some college, but less than 1 year',
 '42 years Total Some college, but less than 1 year',
 '43 years Total Some college, but less than 1 year',
 '44 years Total Some college, but less than 1 year',
 '45 years Total Some college, but less than 1 year',
 '46 years Total Some college, but less than 1 year',
 '47 years Total Some college, but less than 1 year',
 '48 years Total Some college, but less than 1 year',
 '49 years Total Some college, but less than 1 year',
 '50 years Total Some college, but less than 1 year',
 '51 years Total Some college, but less than 1 year',
 '52 years Total Some college, but less than 1 year',
 '53 years Total Some college, but less than 1 year',
 '54 years Total Some college, but less than 1 year',
 '55 years Total Some college, but less than 1 year',
 '56 years Total Some college, but less than 1 year',
 '57 years Total Some college, but less than 1 year',
 '58 years Total Some college, but less than 1 year',
 '59 years Total Some college, but less than 1 year',
 '60 years Total Some college, but less than 1 year',
 '61 years Total Some college, but less than 1 year',
 '62 years Total Some college, but less than 1 year',
 '63 years Total Some college, but less than 1 year',
 '64 years Total Some college, but less than 1 year',
 '65 years Total Some college, but less than 1 year',
 '66 years Total Some college, but less than 1 year',
 '67 years Total Some college, but less than 1 year',
 '68 years Total Some college, but less than 1 year',
 '69 years Total Some college, but less than 1 year',
 '70 years Total Some college, but less than 1 year',
 '71 years Total Some college, but less than 1 year',
 '72 years Total Some college, but less than 1 year',
 '73 years Total Some college, but less than 1 year',
 '74 years Total Some college, but less than 1 year',
 '75 years Total Some college, but less than 1 year',
 'Total 1 or more years of college credit, no degree',
 '25 years Total 1 or more years of college credit, no degree',
 '26 years Total 1 or more years of college credit, no degree',
 '27 years Total 1 or more years of college credit, no degree',
 '28 years Total 1 or more years of college credit, no degree',
 '29 years Total 1 or more years of college credit, no degree',
 '30 years Total 1 or more years of college credit, no degree',
 '31 years Total 1 or more years of college credit, no degree',
 '32 years Total 1 or more years of college credit, no degree',
 '33 years Total 1 or more years of college credit, no degree',
 '34 years Total 1 or more years of college credit, no degree',
 '35 years Total 1 or more years of college credit, no degree',
 '36 years Total 1 or more years of college credit, no degree',
 '37 years Total 1 or more years of college credit, no degree',
 '38 years Total 1 or more years of college credit, no degree',
 '39 years Total 1 or more years of college credit, no degree',
 '40 years Total 1 or more years of college credit, no degree',
 '41 years Total 1 or more years of college credit, no degree',
 '42 years Total 1 or more years of college credit, no degree',
 '43 years Total 1 or more years of college credit, no degree',
 '44 years Total 1 or more years of college credit, no degree',
 '45 years Total 1 or more years of college credit, no degree',
 '46 years Total 1 or more years of college credit, no degree',
 '47 years Total 1 or more years of college credit, no degree',
 '48 years Total 1 or more years of college credit, no degree',
 '49 years Total 1 or more years of college credit, no degree',
 '50 years Total 1 or more years of college credit, no degree',
 '51 years Total 1 or more years of college credit, no degree',
 '52 years Total 1 or more years of college credit, no degree',
 '53 years Total 1 or more years of college credit, no degree',
 '54 years Total 1 or more years of college credit, no degree',
 '55 years Total 1 or more years of college credit, no degree',
 '56 years Total 1 or more years of college credit, no degree',
 '57 years Total 1 or more years of college credit, no degree',
 '58 years Total 1 or more years of college credit, no degree',
 '59 years Total 1 or more years of college credit, no degree',
 '60 years Total 1 or more years of college credit, no degree',
 '61 years Total 1 or more years of college credit, no degree',
 '62 years Total 1 or more years of college credit, no degree',
 '63 years Total 1 or more years of college credit, no degree',
 '64 years Total 1 or more years of college credit, no degree',
 '65 years Total 1 or more years of college credit, no degree',
 '66 years Total 1 or more years of college credit, no degree',
 '67 years Total 1 or more years of college credit, no degree',
 '68 years Total 1 or more years of college credit, no degree',
 '69 years Total 1 or more years of college credit, no degree',
 '70 years Total 1 or more years of college credit, no degree',
 '71 years Total 1 or more years of college credit, no degree',
 '72 years Total 1 or more years of college credit, no degree',
 '73 years Total 1 or more years of college credit, no degree',
 '74 years Total 1 or more years of college credit, no degree',
 '75 years Total 1 or more years of college credit, no degree',
 "Total Associate's degree",
 "25 years Total Associate's degree",
 "26 years Total Associate's degree",
 "27 years Total Associate's degree",
 "28 years Total Associate's degree",
 "29 years Total Associate's degree",
 "30 years Total Associate's degree",
 "31 years Total Associate's degree",
 "32 years Total Associate's degree",
 "33 years Total Associate's degree",
 "34 years Total Associate's degree",
 "35 years Total Associate's degree",
 "36 years Total Associate's degree",
 "37 years Total Associate's degree",
 "38 years Total Associate's degree",
 "39 years Total Associate's degree",
 "40 years Total Associate's degree",
 "41 years Total Associate's degree",
 "42 years Total Associate's degree",
 "43 years Total Associate's degree",
 "44 years Total Associate's degree",
 "45 years Total Associate's degree",
 "46 years Total Associate's degree",
 "47 years Total Associate's degree",
 "48 years Total Associate's degree",
 "49 years Total Associate's degree",
 "50 years Total Associate's degree",
 "51 years Total Associate's degree",
 "52 years Total Associate's degree",
 "53 years Total Associate's degree",
 "54 years Total Associate's degree",
 "55 years Total Associate's degree",
 "56 years Total Associate's degree",
 "57 years Total Associate's degree",
 "58 years Total Associate's degree",
 "59 years Total Associate's degree",
 "60 years Total Associate's degree",
 "61 years Total Associate's degree",
 "62 years Total Associate's degree",
 "63 years Total Associate's degree",
 "64 years Total Associate's degree",
 "65 years Total Associate's degree",
 "66 years Total Associate's degree",
 "67 years Total Associate's degree",
 "68 years Total Associate's degree",
 "69 years Total Associate's degree",
 "70 years Total Associate's degree",
 "71 years Total Associate's degree",
 "72 years Total Associate's degree",
 "73 years Total Associate's degree",
 "74 years Total Associate's degree",
 "75 years Total Associate's degree",
 "Total Bachelor's degree",
 "25 years Total Bachelor's degree",
 "26 years Total Bachelor's degree",
 "27 years Total Bachelor's degree",
 "28 years Total Bachelor's degree",
 "29 years Total Bachelor's degree",
 "30 years Total Bachelor's degree",
 "31 years Total Bachelor's degree",
 "32 years Total Bachelor's degree",
 "33 years Total Bachelor's degree",
 "34 years Total Bachelor's degree",
 "35 years Total Bachelor's degree",
 "36 years Total Bachelor's degree",
 "37 years Total Bachelor's degree",
 "38 years Total Bachelor's degree",
 "39 years Total Bachelor's degree",
 "40 years Total Bachelor's degree",
 "41 years Total Bachelor's degree",
 "42 years Total Bachelor's degree",
 "43 years Total Bachelor's degree",
 "44 years Total Bachelor's degree",
 "45 years Total Bachelor's degree",
 "46 years Total Bachelor's degree",
 "47 years Total Bachelor's degree",
 "48 years Total Bachelor's degree",
 "49 years Total Bachelor's degree",
 "50 years Total Bachelor's degree",
 "51 years Total Bachelor's degree",
 "52 years Total Bachelor's degree",
 "53 years Total Bachelor's degree",
 "54 years Total Bachelor's degree",
 "55 years Total Bachelor's degree",
 "56 years Total Bachelor's degree",
 "57 years Total Bachelor's degree",
 "58 years Total Bachelor's degree",
 "59 years Total Bachelor's degree",
 "60 years Total Bachelor's degree",
 "61 years Total Bachelor's degree",
 "62 years Total Bachelor's degree",
 "63 years Total Bachelor's degree",
 "64 years Total Bachelor's degree",
 "65 years Total Bachelor's degree",
 "66 years Total Bachelor's degree",
 "67 years Total Bachelor's degree",
 "68 years Total Bachelor's degree",
 "69 years Total Bachelor's degree",
 "70 years Total Bachelor's degree",
 "71 years Total Bachelor's degree",
 "72 years Total Bachelor's degree",
 "73 years Total Bachelor's degree",
 "74 years Total Bachelor's degree",
 "75 years Total Bachelor's degree",
 "Total Master's degree",
 "25 years Total Master's degree",
 "26 years Total Master's degree",
 "27 years Total Master's degree",
 "28 years Total Master's degree",
 "29 years Total Master's degree",
 "30 years Total Master's degree",
 "31 years Total Master's degree",
 "32 years Total Master's degree",
 "33 years Total Master's degree",
 "34 years Total Master's degree",
 "35 years Total Master's degree",
 "36 years Total Master's degree",
 "37 years Total Master's degree",
 "38 years Total Master's degree",
 "39 years Total Master's degree",
 "40 years Total Master's degree",
 "41 years Total Master's degree",
 "42 years Total Master's degree",
 "43 years Total Master's degree",
 "44 years Total Master's degree",
 "45 years Total Master's degree",
 "46 years Total Master's degree",
 "47 years Total Master's degree",
 "48 years Total Master's degree",
 "49 years Total Master's degree",
 "50 years Total Master's degree",
 "51 years Total Master's degree",
 "52 years Total Master's degree",
 "53 years Total Master's degree",
 "54 years Total Master's degree",
 "55 years Total Master's degree",
 "56 years Total Master's degree",
 "57 years Total Master's degree",
 "58 years Total Master's degree",
 "59 years Total Master's degree",
 "60 years Total Master's degree",
 "61 years Total Master's degree",
 "62 years Total Master's degree",
 "63 years Total Master's degree",
 "64 years Total Master's degree",
 "65 years Total Master's degree",
 "66 years Total Master's degree",
 "67 years Total Master's degree",
 "68 years Total Master's degree",
 "69 years Total Master's degree",
 "70 years Total Master's degree",
 "71 years Total Master's degree",
 "72 years Total Master's degree",
 "73 years Total Master's degree",
 "74 years Total Master's degree",
 "75 years Total Master's degree",
 "Total Professional degree beyond a bachelor's degree",
 "25 years Total Professional degree beyond a bachelor's degree",
 "26 years Total Professional degree beyond a bachelor's degree",
 "27 years Total Professional degree beyond a bachelor's degree",
 "28 years Total Professional degree beyond a bachelor's degree",
 "29 years Total Professional degree beyond a bachelor's degree",
 "30 years Total Professional degree beyond a bachelor's degree",
 "31 years Total Professional degree beyond a bachelor's degree",
 "32 years Total Professional degree beyond a bachelor's degree",
 "33 years Total Professional degree beyond a bachelor's degree",
 "34 years Total Professional degree beyond a bachelor's degree",
 "35 years Total Professional degree beyond a bachelor's degree",
 "36 years Total Professional degree beyond a bachelor's degree",
 "37 years Total Professional degree beyond a bachelor's degree",
 "38 years Total Professional degree beyond a bachelor's degree",
 "39 years Total Professional degree beyond a bachelor's degree",
 "40 years Total Professional degree beyond a bachelor's degree",
 "41 years Total Professional degree beyond a bachelor's degree",
 "42 years Total Professional degree beyond a bachelor's degree",

In [14]:
# All states in Data folder
states_list = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", \
               "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", \
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", \
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", \
              "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", \
              "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", \
              "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# Dictionary to hold state name as key, dataframe as value
dict_state = {}

# For loop to iterate through all states to shape data
for state in states_list:
    df = pd.read_csv(f'../Data/States/{state}.csv').rename(columns = {"Age (AGEP)":"Origin"}).set_index("Origin").T
    df["To_State"] = f'{state}'
    dict_state[state] = df

In [15]:
# list(dict_state["California"].dtypes)

In [16]:
# Can call any state dataframe when using state name as dictionary key
dict_state["California"]

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,2681950,2681950,66579,2445,2779,2252,2453,2790,2382,2088,...,336,392,619,460,364,547,286,433,201,California
Alabama/AL,2174,2174,41,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Alaska/AK,2083,2083,16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
Arizona/AZ,17511,17511,278,1,0,0,32,28,0,0,...,0,0,0,12,0,0,0,0,0,California
Arkansas/AR,1882,1882,69,0,0,0,0,31,0,0,...,0,0,0,0,0,0,0,0,0,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",339,339,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California
"Northern Africa or Other Africa, Not Specified",1068,1068,25,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,California
"Eastern Africa, Not Specified",561,561,107,0,0,66,0,41,0,0,...,0,0,0,0,0,0,0,0,0,California
Australia,3401,3401,33,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,California
"Other US Island Areas, Oceania, Not Specified, or At Sea",2455,2455,121,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,California

In [17]:
df = pd.concat(dict_state.values(), ignore_index=False)

In [18]:
df

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,319852,319852,7237,260,336,227,132,275,265,339,...,32,2,2,31,0,4,8,10,60,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arkansas/AR,859,859,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Northern Africa or Other Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Eastern Africa, Not Specified",54,54,54,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Other US Island Areas, Oceania, Not Specified, or At Sea",14,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming

In [ ]:
list(dict_state.keys())

In [ ]:
pd.concat([dict_state["Connecticut"], dict_state["Delaware"]])

In [ ]:
# Concat all dataframes stored in dict_state and save as "all_states_df"
excl = [
#     'Alabama',
#  'Alaska',
#  'Arizona',
#  'Arkansas',
#  'California',
#  'Colorado',
 'Connecticut',
 'Delaware',
#  'District of Columbia',
#  'Florida',
#  'Georgia',
#  'Hawaii',
#  'Idaho',
#  'Illinois',
#  'Indiana',
#  'Iowa',
#  'Kansas',
#  'Kentucky',
#  'Louisiana',
#  'Maine',
#  'Maryland',
#  'Massachusetts',
#  'Michigan',
#  'Minnesota',
#  'Mississippi',
#  'Missouri',
#  'Montana',
#  'Nebraska',
#  'Nevada',
#  'New Hampshire',
#  'New Jersey',
#  'New Mexico',
#  'New York',
#  'North Carolina',
#  'North Dakota',
#  'Ohio',
#  'Oklahoma',
#  'Oregon',
#  'Pennsylvania',
#  'Rhode Island',
#  'South Carolina',
#  'South Dakota',
#  'Tennessee',
#  'Texas',
#  'Utah',
#  'Vermont',
#  'Virginia',
#  'Washington',
#  'West Virginia',
#  'Wisconsin',
#  'Wyoming'
]
val = [dict_state[x] for x in dict_state if x not in excl]
all_states_df = pd.concat(val, axis=0, ignore_index=False)

len(all_states_df)

In [ ]:
list(dict_state["Delaware"].index)

In [ ]:
df2 = all_states_df.rename(columns={"index":"Origin"})
df2

In [ ]:
df2.sum(axis=1)

In [ ]:
del_total = []
for x in df2.columns:
    if x #contains the word total

In [ ]:
df2

## Load

Create engine and load all_states_df into SQL database

In [ ]:
# Dependencies
from login import port, pw
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base

In [ ]:
# Create engine
# engine = create_engine(f'postgresql://postgres:{pw}@localhost:{port}/interstate_migration_db')
engine = create_engine("postgresql://postgres:postgres@localhost:5432/interstate_migration_db")

# Connect to pgAdmin 4
conn = engine.connect()

In [ ]:
base = automap_base()
base.prepare(engine, reflect=True)
base.classes.keys()

In [ ]:
# Load all_states_df into Postgres database
all_states_df.to_sql(name="states", con=engine, if_exists="replace", index=True)

In [ ]:
# Confirm table names
engine.table_names()

In [ ]:
# Query database for all listings from states
df = pd.read_sql_query("SELECT * FROM states", con=engine)
df.head()

In [ ]:
# Keep
df = df.rename(columns={"index":"Origin"})

In [ ]:
# Keep
df.set_index(["To_State", "Origin"], inplace=True)

In [ ]:
# Keep
df.head()

In [ ]:
# Keep
df.sum(axis=1)

In [ ]:
# Keep
del_t = []
for x in df.columns:
    if x #contains the word total

In [ ]:
# Keep
#Isolate From state (index) and to state, and

In [ ]:
# Keep
#df[index, to_state, -> Total]

In [ ]:
# Keep
#group index by index and to_state and get sum of the total
#groupby dataframe, if doesn't match statelist, do not include it

In [ ]:
# Keep
all_states_df.set_index("To_State", inplace=True)

In [ ]:
# Keep
all_states_df.loc["Alabama", " -> Total"].iloc[3:].sum()

In [ ]:
# Keep
all_states_df.columns

In [ ]:
# Keep
all_states_df.loc["Alabama"]

In [ ]:
# Keep
list(all_states_df.columns)
drop_these = [" -> Total", " -> Total ->"]

In [ ]:
# Keep
all_states_df["Origin"]

In [ ]:
# Keep
## need state to be a column, need origin to be a column
# reset index so they can be columns